/* Developer */
.developer{
  font-family: 'Sora' sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.06em;
  color: transparent;
  -webkit-text-stroke: 2px black;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

